name: CI

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Build docker container
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate image name
        id: name
        run: |
          lower_case_repo=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "image_name=ghcr.io/${lower_case_repo}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ steps.image-name.outputs.image_name }}:latest
